:root{
    --background-color: #000000;
    --primary-color: #2AFB00;
    --secondary-color: #FFFFFF;
    --primary-font: 'Share Tech Mono';
    --secondary-font: 'Jetbrains Mono';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);

}
header{
    display: flex;
    padding: 2rem 3.5rem;
    justify-content: space-between;
}
header a{
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
a{
    text-decoration:none;
}
nav{
    display: flex;
    gap: 2rem;
}
nav a{
    font-size: 28px;
}
.logo{
    font-size: 36px;
    margin-left: 100px;
}

/* Landing Section */
.landing-section{
    position: relative;
    overflow: hidden;
    display: flex;   
    height: 75vh;
}
.fade-divider-top{
    height: 20px;
    background: linear-gradient(
        to bottom,
        #2a2a2a,
        transparent
    );
}
.fade-divider-bottom{
    height: 20px;
    background: linear-gradient(
        to top,
        #2a2a2a,
        transparent
    );
}
.landing-text{
    display: flex;
    width: 50%;
    color: var(--secondary-color);
    align-items: center;
    justify-content: center;
}
.landing-text-wrapper{
    width: 450px;
    font-size: 46px;
    font-family: var(--primary-font);
}
.primary-color{
    color: var(--primary-color);
}
.landing-img{
    width: 50%;
    height: 100%;
}
.landing-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Projects Section */
.projects-section header{
    display: flex;
    flex-direction: column;
}
.projects-title{
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 64px;
}
.projects-section div{
    display: flex;
}
.folder-img {
    width: 100px;
    height: 100px;
    color: var(--primary-color);   
    margin-right: 8px;
    vertical-align: middle;
    transition: color 0.3s ease;
}
.subheading{
    font-family: var(--primary-font);
    font-size: 56px;
    color: var(--secondary-color);
}
.projects-path{
    font-size: 28px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}
.projects-subheading{
    display: flex;
    align-items: center;
    gap: 2.6rem;
}
.projects-subheading div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}