
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/*Page Background */
body {
    background: linear-gradient(135deg, #FFFBF1, #FFF2D0);
    color: #334155;
}

/*Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background:rgba(28, 28, 28, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

/*Logo */
.logo {
    font-size: 23px;
    font-weight: bold;
    color: #F8F5F2;
}

.logo span {
    color: #D4A373;
}
/*Navigation links */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #F8F5F2;
    transition: 0.3s;
}

nav a:hover {
    color: #D4A373;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    padding-top: 80px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    gap: 40px;
}

/*Left Text */
.hero-content > div:first-child {
    flex: 1;
}

.hero-content h1 {
    font-size: 35px;
    margin-bottom: 12px;
    font-weight:470px;
    line-height: 1.2;
}

.highlight {
    display: block;
    font-size: 65px;
    font-weight: 800;
    color: #D4A373;
    line-height: 1.2;
    margin-top: 5px;
}

.hero-content p {
    font-size: 25px;
    color: #64748B;
}
/*Profile */
.profile-container {
    flex-shrink: 0;
}

.profile-img {
    width: 420px;
    height: 450px;
    border: 4px solid #D4A373;
    object-fit: cover;
}

.profile-img:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/*Sections(general)*/
.section {
    padding: 80px 8%;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #D4A373;
}

/* Personal Section */
.personal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    align-items: start;
}

.personal-card {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.personal-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.personal-card h3 {
    color: #D4A373;
    margin-bottom: 10px;
}

.personal-card ul {
    list-style: disc inside;
}

.personal-card li {
    color: #475569;
    margin-bottom: 6px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 998;
}

/*Skills Section */
.skills-container {
    margin-bottom: 40px;
}

.skills-container h3 {
    margin-bottom: 15px;
}

.skills-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skill-badge {
    background: #D4A373;
    color: #1E293B;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

/*Project Section */
.project-container {
    display: flex;
    justify-content: center;   
    gap: 40px;                 
    flex-wrap: wrap;           
    max-width: 1100px;
    margin: 0 auto;
}

.project-card {
    width: 400px;              
    height: 400px;             
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #E2E8F0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.project-image {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.project-info {
    width: 100%;
}

.project-info h3, .project-info h4 {
    color: #D4A373;
    margin-bottom: 10px;
}

.project-info p {
    color: #64748B;
    line-height: 1.6;
}

/*Contact-Sidebar */
.sidebar {
    position: fixed;
    right: -350px;
    top: 0;
    width: 320px;
    height: 100%;
    background: #1E293B;
    color: #F8F5F2;
    padding: 30px;
    transition: 0.4s ease;
    z-index: 999;
}
/*Active */
.sidebar.active {
    right: 0;
}

.overlay.active {
    display: block;
}

/*Close button */
.closeBtn {
    background: none;
    border: none;
    font-size: 24px;
    color: #F8F5F2;
    float: right;
    cursor: pointer;
}

.sidebar h2 {
    margin-bottom: 20px;
    color: #D4A373;
}

.sidebar p {
    margin-bottom: 15px;
    color:  #CBD5E1;
}

